.main{
     width: 500px;
    height: 500px;
  
     margin-left: 300px;
}
    h3{
        margin-left: 100px;
    }

    form{
        background-color: #fab1a0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        border-radius: 10px;
        
    }

    #result{
        margin-top: 20px;
        
    }
